@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    h1 {
        @apply text-2xl;
        @apply font-black;
    }
    ul {
        @apply list-disc;
        @apply list-outside;
    }
    li {
        @apply ml-[3vw];
    }
    a {
        @apply font-black;
        @apply hover:underline;
    }
}

.custom-landing-gradient {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

.match {
    opacity: 75%;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: row;
    height: 96px;
    width: 639px;
    margin: 5px;
    border-radius: 4px;
}
.match:hover {
    opacity: 1;
}

::-webkit-scrollbar {
    background: transparent;
    width: 0;
}